@charset "UTF-8";
body {
    background-color: #dddddd;
    color: #000000;
}

div#interface{
    background-color: white;
    width: 1000px;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding: 10px 10px 10px 10px;
    /*margin: cima direita baixo esquerda (fora do objeto)*/
    /*padding: cima direita baixo esquerda (dentro do objeto)*/
}

header#cabecalho img#icone{
    position: absolute;
    top: 50px;
    left: 1000px;
}

header#cabecalho{

}

p{
    text-align: center;
    text-align: justify;
    text-indent: 50px;
}
/* Formatação de fotos com legenda */
figure.foto-legenda {
    position: relative;
    width: 50%;
    height: 50%;
    box-shadow: 2px 2px 4px black;
    border: 4px solid white;
}


figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0%;
    background-color: rgba(0,0,0,0.8);
    color: rgb(255, 255, 255);
    p{
        text-indent: 0%;
    }
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

/*hover -> efeito do mouse*/
figure.foto-legenda:hover figcaption{
    opacity: 1;
    transition: opacity 1s;
}

figure.foto-legenda img{
    width: 100%;
    height: 100%;
}

/* Formatação do Menu */
nav#Menu{
    display: block;
}

nav#Menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 550px;
}

/* posição: absoluta -> pode mover o bloco por todo o site
posição: relativa -> move o conteúdo somente dentro do bloco
*/
nav#Menu li {
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
    
}

nav#Menu li:hover{
    background-color: #606060;
}

nav#Menu a{
    color: black;
    text-decoration: none; /* Tira o subinhado*/
}


nav#Menu a:hover{
    color: white;
}

nav#Menu h1 {
    display: none;
}